.header {
  background: #202020;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
/* End Header */
/* Body */
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: 100vh;
  width: 100%;
}

/* body */
.body .main {
  boder: 1px solid #323232;
}

/* sider */
.sider .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu > ul li a {
  color: #fff;
  display: block;
  padding: 6px 12px;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
/* footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* //alert */
[show-alert] {
  position: fixed;
  top: 50px;
  right: 15px;
  width: 250px;
  z-index: 9999;
}
@keyframes alert-hidden {
  from {right: 15px}
  to {
    right: -100% ;
    display: none;
  }
}
[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
}


/* // end alert   */