// header
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}
.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .inner-menu > ul > li {
  margin-left: 10px;
}
/* footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* box head */
.box-head {
  margin-bottom: 30px;
}
.box-head .inner-title {
  font-size: 28px;
  font-weight: 600;
  color: green;
  margin-bottom: 0;
}

/* product item */
.product-item {
  border: 1px solid #ddd;
  boder-radius: 8px;
  overflow: hidden;
}
.product-item .inner-image {
  width: 100%;
}
.product-item .inner-image img {
  width: 100%;
}
.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.product-item .inner-content .inner-price-new {
  font-size: 20px;
  font-weight: 600;
  color: green;
}
.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: white;

  display: inline-block;
  border-radius: 8px;
  margin-right: 5px;
  text-decoration: line-through;
  color: gray;
}
.product-item .inner-content .inner-price-discount {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: gray;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
  background: red;
}
