mixin alert(time)
    -if (messages.suscess)
        .message.info
            div(
                class="alert alert-success"
                data-time= time
                show-alert
            ) #{messages.suscess} <span close-message>X</span>
