mixin formSearch(keyword)
    form(id="form-search")
        .input-group
            input(type="text" class="form-control" placeholder="Nhập từ khoá" name="keyword" value=keyword)
            .input-group-append
                button(class="btn btn-success" type="submit" ) Tìm kiếm 